/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
body {
  background-color: #f7f7f7;
}

.hover-pointer:hover {
  cursor: pointer;
}

form {
  label {
    text-transform: uppercase;
    color: #848484;
    font-size: 0.9em;
  }

  input::placeholder {
    color: rgb(199, 199, 199) !important;
  }
}

.fixed-bg {
  max-width: 900px;
  margin-inline: auto;
  background-color: #fff;
  padding: 2em;
}
.scroll-y {
  max-height: 500px;
  overflow-y: auto;
}

form.submitted input.ng-invalid {
  border: 2px solid red;
}
